* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
    scroll-behavior: smooth;
    height: 10000px;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.row {
    display: flex;
}

/* Header */
.header {
    position: sticky;
    background: #fff;
    padding-top: 52px;
    top: -52px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav-bar {
    margin-left: auto;
}

.header .nav-bar .list {
    display: flex;
    gap: 39px;
}

.header .nav-bar .item a {
    display: inline-block;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    padding: 12px 0;
}

.header .nav-bar .item a.active {
    text-shadow: 1px 0 0 currentColor;
}

.header .nav-bar .item a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .sign-in-up {
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .sign-in-btn {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    padding: 12px 0;
}

.header .sign-up-btn {
    width: 108px;
    height: 48px;
    display: inline-block;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */
.main .hero .body {
    display: flex;
    align-items: center;
    padding: 62px 0 79px;
}

.main .hero .info {
    width: 40%;
}

.main .hero .info .desc:first-child {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.main .hero .info .heading {
    margin-top: 18px;
}

.main .hero .info .desc:nth-of-type(2) {
    margin-top: 46px;
    width: 374px;
    line-height: 1.78; /* 177.778% */
}

.main .hero .info .cta {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 52px;
}

.main .hero .info .video {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .hero .media-block {
    margin-left: auto;
    width: 49%;
    position: relative;
    background: #e0f7f6;
}

.main .hero .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.main .media-block .card {
    position: absolute;
}

.main .media-block .card:nth-of-type(1) {
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    top: 149px;
    left: -40px;
}

.main .media-block .card:nth-of-type(1) .book-icon {
    position: relative;
    background: #ff8282;
    width: 36px;
    height: 40px;
    border-radius: 4px;
}

.main .media-block .card:nth-of-type(1) .book-icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    bottom: 8px;
    left: 4px;
    width: 28px;
    height: 4px;
    background: #fff;
}

.main .media-block .card:nth-of-type(1) .value {
    width: 55px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    padding-left: 16px;
}

.main .media-block .card:nth-of-type(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 124px;
    height: 132px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 46px;
    left: -65px;
}

.main .media-block .card:nth-of-type(2) .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
}

.main .media-block .card:nth-of-type(2) .label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.main .media-block .card:nth-of-type(3) {
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 41px;
    right: 45px;
}

.main .media-block .card:nth-of-type(3) .label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.main .media-block .card:nth-of-type(3) .avatar-group {
    display: flex;
    align-items: center;
}
.main .media-block .card:nth-of-type(3) .avatar img,
.main .media-block .card:nth-of-type(3) .avatar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background: var(--bg-color);
    flex-shrink: 0;
    margin-left: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .media-block .card:nth-of-type(3) .avatar:first-child {
    margin-left: 0;
}

.main .media-block .card:nth-of-type(3) .avatar span {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

/* Features */
.main .features {
    padding: 30px 0;
    margin-top: 100px;
}

.main .features .body {
    width: 1024px;
}

.features .info {
    width: 57%;
}

.main .features .info .desc:nth-of-type(1) {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.main .features .info .heading {
    margin-top: 18px;
}

.main .features .info .desc:nth-of-type(2) {
    margin-top: 18px;
}

.main .features .list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.main .features .item:nth-child(1) {
    width: 168px;
}

.main .features .item:nth-child(2) {
    width: 223px;
}

.main .features .item:nth-child(3) {
    width: 224px;
}

.main .features .item .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 26px;
}

.main .features .item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
    margin-top: 16px;
}

/* Popular */
.main .popular {
    padding: 30px 0 154px;
    margin-top: 70px;
}

.main .popular .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.main .popular .heading {
    margin-top: 18px;
}

.main .popular .body > .row {
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.main .popular .body > .row > .desc {
    width: 525px;
}

.main .popular .cta {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
}

.main .popular .list {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
}

.main .popular .item {
    position: relative;
}

.main .popular .item .thumb {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.5;
    object-fit: cover;
}

.main .popular .item .card {
    position: absolute;
    bottom: -124px;
    left: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.main .popular .item .card .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.main .popular .item .card .price {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.main .popular .item .card .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.main .popular .item .card > .desc {
    margin-top: 6px;
    font-size: 1.4rem;
}

.main .popular .item .card .info .desc {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main .popular .item .card .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #1ebfc1;
}
.main .popular .item .card .row {
    display: flex;
    gap: 10px;
}

.main .popular .item .card .info {
    display: flex;
    margin-top: 18px;
    gap: 10px;
    align-items: center;
}

/* Stats */
.main .stats {
    padding: 30px 0;
    margin-top: 205px;
}

.main .stats .body {
    width: 862px;
    margin: 0 auto 0 auto;
}

.main .stats .list {
    display: flex;
    justify-content: space-between;
}

.main .stats .list .item {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: center;
}

.main .stats .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

/* FeedBack */
.main .feedback {
    padding: 30px;
    margin-top: 204px;
}

.main .feedback .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .feedback .info {
    width: 36%;
}

.main .feedback .content {
    position: relative;
}

.main .feedback .content blockquote {
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.main .feedback .content .open-quotes {
    position: absolute;
    left: 0;
    top: -27px;
}

.main .feedback .title {
    position: relative;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
    margin-top: 33px;
}

.main .feedback .title b {
    color: #070707;
    font-weight: 500;
    line-height: normal;
    margin-top: 33px;
    margin-left: 13px;
}

.main .feedback .title::before {
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.main .feedback .controls {
    display: flex;
    gap: 30px;
    margin-top: 52px;
}

.main .feedback .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #2ac9bf;
    border: none;
    cursor: pointer;
}

.main .feedback .img-block {
    width: 58%;
    position: relative;
    height: 481px;
}

.main .feedback .img-block .avatar {
    position: absolute;
    border-radius: 100%;
    object-fit: cover;
}

.main .feedback .img-block .avatar:nth-of-type(1) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
}
.main .feedback .img-block .avatar:nth-of-type(2) {
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}
.main .feedback .img-block .avatar:nth-of-type(3),
.main .feedback .img-block .avatar:nth-of-type(5),
.main .feedback .img-block .avatar:nth-of-type(6) {
    width: 78px;
    height: 78px;
}

.main .feedback .img-block .avatar:nth-of-type(3) {
    left: 0;
    bottom: 145px;
}
.main .feedback .img-block .avatar:nth-of-type(4) {
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}
.main .feedback .img-block .avatar:nth-of-type(5) {
    bottom: 0;
    left: 212px;
}
.main .feedback .img-block .avatar:nth-of-type(6) {
    bottom: 29px;
    right: 32px;
}
